
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/GR30333Labs.UI.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<div class="container">
			<!-- Панель навигации -->
			<span class="nav-color">Заголовок страницы</span>
		</div><!-- container - конец -->
	</header><!-- header - конец -->
	<main class="container">
		Содержимое страницы
	</main>
	<footer>
		<div class="container">
			<span class="nav-color">Подвал страницы</span>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
